<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TargetPercentageOverlay.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <TargetPercentageOverlay.My.MySettings>
            <setting name="x1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="y1" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="x2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Showcard Gothic, 15.75pt</value>
            </setting>
            <setting name="font_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="win_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="win_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="refresh" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="intensity" serializeAs="String">
                <value>160</value>
            </setting>
        </TargetPercentageOverlay.My.MySettings>
    </userSettings>
</configuration>